/.metadata/
/api-gateway/target
api-gateway/.gitattributes
product-service/.gitattributes
service-discovery/.gitattributes
user-service/.gitattributes
api-gateway/.mvn/wrapper/maven-wrapper.properties
product-service/.mvn/wrapper/maven-wrapper.properties
service-discovery/.mvn/wrapper/maven-wrapper.properties
user-service/.mvn/wrapper/maven-wrapper.properties
api-gateway/mvnw
product-service/mvnw
service-discovery/mvnw
user-service/mvnw
api-gateway/mvnw.cmd
product-service/mvnw.cmd
service-discovery/mvnw.cmd
user-service/mvnw.cmd
