server:
  port: 8086

spring:
  application:
    name: user-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultzone: http://localhost:8761/eureka
      datasource:
        url: jdbc:h2:mem:userNew_db
        driverClassName: org.h2.driver
        username: user
        password: password
      h2:
        console:
          enabled: true
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.H2Dialect    
          